<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Income</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Edit Income</h1>
            <nav>
                <a href="/">Expense</a>
                <a href="/subscriptions">Subscriptions</a>
                <a href="/incomes">Income</a>
                <a href="{{ url_for('reports') }}">Reports</a>
            </nav>
        </header>

        <section class="edit-income">
            <h2>Edit income details</h2>
            <form action="/edit_income/{{ income[0] }}" method="POST" class="income-form">
                <input type="text" name="source" value="{{ income[1] }}" required class="input-field" placeholder="Source of income">
                <input type="number" step="0.01" name="amount" value="{{ income[2] }}" required class="input-field" placeholder="Amount">
                <input type="date" name="date" value="{{ income[3] }}" required class="input-field">
                <button type="submit" class="btn add-btn">Save changes</button>
            </form>
        </section>
    </div>
</body>
</html>
